#################################
# Application
#################################
NODE_ENV=production
PORT=3000

#################################
# Database
#################################
DB_HOST=your-rds-endpoint
DB_PORT=5432
DB_NAME=fastgrowth
DB_USER=postgres
DB_PASSWORD=your_database_password

#################################
# AWS
#################################
AWS_REGION=us-east-1

#################################
# Email
#################################
SES_FROM_EMAIL=your-verified-email@example.com

#################################
# CORS
#################################
ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,https://d2slv0drvb29e7.cloudfront.net